header, main{
    width: 65%;
    margin: 0 auto;
}
img{
    width: 100%;
}


//jquery
.darker{
    color: #FF0000;
}
.hidden{
    display: none !important;
}
.opacity{
    opacity: 0;
}
.reveal{
    transition: .5s all ease-in-out;
    opacity: 1;
}
